<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sy.dao.RoleUserMapper" >
  <resultMap id="BaseResultMap" type="sy.model.RoleUser" >
    <id column="name" property="name" jdbcType="VARCHAR" />
    <id column="rolename" property="rolename" jdbcType="VARCHAR" />
    <id column="id" property="id" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimary" parameterType="sy.model.RoleUser" >
    delete from roleuser
    where name = #{name,jdbcType=VARCHAR}
      and rolename = #{rolename,jdbcType=VARCHAR}
      and id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="sy.model.RoleUser" >
    insert into roleuser (name, rolename, id
      )
    values (#{name,jdbcType=VARCHAR}, #{rolename,jdbcType=VARCHAR}, #{id,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="sy.model.RoleUser" >
    insert into roleuser
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="rolename != null" >
        rolename,
      </if>
      <if test="id != null" >
        id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="rolename != null" >
        #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>