<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sy.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="sy.model.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="jifen" property="jifen" jdbcType="INTEGER" />
    <result column="yue" property="yue" jdbcType="DOUBLE" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="psw" property="psw" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, jifen, yue, name, psw
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user1
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user1
    where name = #{name,jdbcType=VARCHAR}
  </select>
  <select id="getAll" resultMap="BaseResultMap">
  select * from user1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user1
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="sy.model.User" >
    insert into user1 (id, jifen, yue, 
      name, psw)
    values (#{id,jdbcType=INTEGER}, #{jifen,jdbcType=INTEGER}, #{yue,jdbcType=DOUBLE}, 
      #{name,jdbcType=VARCHAR}, #{psw,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="sy.model.User" >
    insert into user1
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="jifen != null" >
        jifen,
      </if>
      <if test="yue != null" >
        yue,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="psw != null" >
        psw,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="jifen != null" >
        #{jifen,jdbcType=INTEGER},
      </if>
      <if test="yue != null" >
        #{yue,jdbcType=DOUBLE},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="psw != null" >
        #{psw,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="sy.model.User" >
    update user1
    <set >
      <if test="jifen != null" >
        jifen = #{jifen,jdbcType=INTEGER},
      </if>
      <if test="yue != null" >
        yue = #{yue,jdbcType=DOUBLE},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="psw != null" >
        psw = #{psw,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="sy.model.User" >
    update user1
    set jifen = #{jifen,jdbcType=INTEGER},
      yue = #{yue,jdbcType=DOUBLE},
      name = #{name,jdbcType=VARCHAR},
      psw = #{psw,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>